<div class="folder-tree-item" *ngIf="nodeFolder">
  <div class="folder-tree-item-name" [class.selected]="nodeFolder.selected" (click)="selectedFolder()">
    <img [src]="'assets/'+getFolderToggleSVG()" alt="folder" width="16" (click)="flag = !flag"/>
    <span class="folder-tree-item-name-text">{{ nodeFolder.name }}</span>
  </div>

  <div class="folder-tree-item-children" [style.height]="flag ? 'auto' : '0px'">
    <app-folder-tree
      *ngIf="nodeFolder.children"
      [data]="nodeFolder.children"
    ></app-folder-tree>
  </div>
</div>
